<div class="form-label-group">
    <input [type]="type"
           [ngClass]="(controlDir && controlDir.control &&
           controlDir.control.touched)? controlDir.control.invalid? 'is-invalid':'is-valid':null"
           (input)="onChange($event.target.value)"
           (blur)="onTouched()"
           id="{{label}}"
           #input 
           class="form-control" 
           placeholder="{{label}}">
    <div *ngIf="controlDir && controlDir.control && controlDir.control.status==='PENDING'" 
          class="fa fa-spinner fa-spin loader">

    </div>
    <label for="inputEmail">{{label}}</label>
     <div class="invalid-feedback" *ngIf="(controlDir && 
                                           controlDir.control && 
                                           controlDir.control.invalid &&
                                           controlDir.control.touched)">
        <span *ngIf="controlDir.control.errors?.required">
            {{label}} is required
        </span>
        <span *ngIf="controlDir.control.errors?.pattern">
            Invalid email address
        </span>
    
     </div>
     <div class="invalid-feedback d-block"  
          *ngIf="(controlDir && 
          controlDir.control && 
          controlDir.control.invalid &&
          controlDir.control.dirty)">
          <span *ngIf="controlDir.control.errors?.emailExists">
            Invalid email is in use
        </span>
     </div>
</div>
